div{
    border: 12px double rgb(204, 255, 0);
    padding: 30px;
    margin: 15px;
 background-color: rgb(132, 212, 221);
    
}

p{
color: brown;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 100%;
}

h1{
    color: blueviolet;
    font-size: 350%;
    font-family: ;
    text-align: center;
    text-shadow: 4px 4px ;
}
 table td,th{
border: 2px solid;

 }

tr:hover{
color: brown;
background-color: blue;

}
td,th{
  padding-left:20px;
  padding-right:20px ;
  margin: 15px;
background-color: brown;

}
.c{
text-align: center;
background-color: darkgreen;
color: darksalmon;
}
body{
background-color: rgb(157, 143, 154);


}


